
<h1 style="text-align: center; font-size: 30px">Bienvenido {{nombre}}, realice un pedido</h1>

<ul class="encabezado__lista" style="background-color: black;">
    <li><a href="/cliente/productos" class="encabezado__lista-link">
            <hr> REALIZAR UN NUEVO PEDIDO
        </a></li>
        <li><a href="/cerrar" class="encabezado__lista-link">
            <hr> cerrar sesion
        </a></li>
</ul>