   <div class="agregarProducto" >

     <a href="/pedidos" class="enviar2" style="width: 10%; text-align: center; margin: 10px"> Regresar </a> 
    
    <div>
        <h1 class="title">{{title}}</h1> <br>
        <div class="product-container">
     
        <div class="product-item">
            <p class="product-name">el cliente: {{order.name}}</p>
            <p class="product-description">Ordenó: {{order.description}}</p>
            <p class="product-description">Hora de pedido: {{order.orderedAt}}</p>
        </div>
  
    </div>
    </div>
    
</div>